<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Home Page</title>
</head>
<body class="bg-dark text-center m-3">
    <h1 class="text-light my-5">Weekly Calendar</h1>
    <a href="/Home/New" class="text-light">New</a>
    <div class="container  mt-5">
    <table class="table table-bordered table-secondary">
        <tr>
            <th class="col">Sunday</th>
            <th class="col">Monday</th>
            <th class="col">Tuesday</th>
            <th class="col">Wednesday</th>
            <th class="col">Thursday</th>
            <th class="col">Friday</th>
            <th class="col">Saturday</th>
        </tr>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'sunday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'monday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div ><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'tuesday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div ><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'wednesday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div ><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'thursday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div ><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'friday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div ><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
        <td class="col">
            <div>
                <% for (let i = 0; i < events.length; i++) {%>
                        <% if (events[i].weekday === 'saturday'){%>
                                <a href="/Home/<%=events[i].id%>" class="text-success"><div><%=events[i].name%></div ></a>
                        <% } %> 
                <% } %> 
            </div>
        </td>
    </table>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
</body>
</html>